{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <style>
        .music-body {
            width: 1070px;
            margin: 0 auto;
            padding-top: 20px;
            padding-bottom: 20px;
        "
        }
    </style>
    {% verbatim %}
    <div id="app" class="music-body">
    <el-button size="mini">
        <a href="/music/search/">搜索歌曲</a>
</router-link>

    </el-button>
        <el-row>
            <el-col :span="4">
                <el-popover
                        placement="top-start"
                        trigger="hover">
                    <div style="text-align: center">
                        <el-progress
                                color="#67C23A"
                                type="circle"
                                :percentage="music.volume"></el-progress>
                        <br>
                        <el-button
                                @click="changeVolume(-10)"
                                icon="el-icon-minus"
                                circle></el-button>
                        <el-button
                                @click="changeVolume(10)"
                                icon="el-icon-plus"
                                circle></el-button>
                    </div>
                    <el-button
                            @click="play"
                            id="play"
                            slot="reference"
                            :icon="music.isPlay?'el-icon-refresh':'el-icon-caret-right'"
                            circle></el-button>
                </el-popover>
                {{ music.name }}
            </el-col>
            <el-col :span="14" style="padding-left: 20px">
                <el-slider
                        @change="changeTime"
                        :format-tooltip="formatTime"
                        :max="music.maxTime"
                        v-model="music.currentTime"
                        style="width: 100%;"></el-slider>
            </el-col>
            <el-col :span="6" style="padding: 9px 0px 0px 10px;color:#909399;font-size: 13px">
                {{ formatTime(music.currentTime)}}/{{ formatTime(music.maxTime)}}
            </el-col>
        </el-row>
        <audio
                ref="music"
                v-bind:src="music.url"
        >
        </audio>
        <el-row>
            <el-col :span="18">
                <el-table
                        :data="musics"
                        size="mini"
                        stripe
                        style="width: 100%"
                        v-loading="loading"
                        element-loading-spinner="el-icon-loading"
                        element-loading-text="拼命加载中"
                        element-loading-background="rgba(0, 0, 0, 0.8)"
                >
                    <el-table-column
                            type="index"
                            width="40"
                    >
                    </el-table-column>
                    <el-table-column
                            label=""
                            width="50"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    @click="playMusic(scope.row)"
                                    id="play"
                                    size="mini"
                                    slot="reference"
                                    :icon="scope.isPlay ? 'el-icon-refresh' : 'el-icon-caret-right'"
                                    circle></el-button>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="duration"
                            label="时长"
                            width="60"
                            :formatter="durationFormatter"
                    >
                    </el-table-column>
                    <el-table-column
                            prop="singer"
                            label="歌手">
                    </el-table-column>
                    <el-table-column
                            prop="album"
                            label="专辑">
                    </el-table-column>
                </el-table>
                <el-pagination
                        @current-change="fetchMusics(musicPager.page)"
                        layout="prev, pager, next"
                        :total="musicPager.total"
                        :current-page.sync="musicPager.page"
                >
                </el-pagination>
            </el-col>
        </el-row>
    </div>
    {% endverbatim %}

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    music: {
                        isPlay: false,
                        currentTime: 0,
                        maxTime: 0,
                        volume: 100
                    },
                    musics: [],
                    musicPager: {
                        size: 10,
                        total: 0,
                        page: 1
                    },
                    loading: false
                }
            },
            mounted() {
                this.$nextTick(() => {
                    setInterval(this.listenMusic, 1000)
                })
            },
            created: function () {
                this.fetchMusics();
            },
            methods: {
                getDuration(time) {
                    return time < 10 ? '0' + time : time.toString();
                },
                fetchMusics: function (page) {
                    let self = this;
                    self.loading = true;
                    page = page != undefined ? page : self.musicPager.page;
                    size = self.musicPager.size;
                    let pagerString = '?page={page}&size={size}'.format({page: page, size: size});
                    //发送get请求
                    this.$http.get('/api/musics' + pagerString).then(function (res) {
                        self.musics = res.data.results.map((value, index, array) => {
                            value.isPlay = false;
                            return value;
                        });
                        self.musicPager.page = page;
                        self.musicPager.total = res.data.count;
                        self.loading = false;
                    }, function () {
                        console.log('请求失败处理');
                    });
                },
                durationFormatter(row) {
                    let self = this;
                    return self.formatTime(row.duration ? row.duration : 0);
                },
                listenMusic() {
                    if (!this.$refs.music) {
                        return
                    }
                    if (this.$refs.music.readyState) {
                        this.music.maxTime = this.$refs.music.duration
                    }
                    this.music.isPlay = !this.$refs.music.paused
                    this.music.currentTime = this.$refs.music.currentTime
                },
                play() {
                    let self = this;
                    if (self.$refs.music.paused) {
                        self.$refs.music.play()
                    } else {
                        self.$refs.music.pause()
                    }
                    self.music.isPlay = !self.$refs.music.paused
                    self.$nextTick(() => {
                        document.getElementById('play').blur()
                    })
                },
                changeTime(time) {
                    this.$refs.music.currentTime = time
                },
                changeVolume(v) {
                    let self = this;
                    if (0 <= self.music.volume && self.music.volume <= 100) {
                        self.music.volume += v;
                        self.$refs.music.volume = self.music.volume / 100;
                    }
                },
                formatTime(time) {
                    let self = this;
                    return '{minutes}:{seconds}'.format({
                        minutes: self.getDuration(parseInt(time / 60)),
                        seconds: self.getDuration(parseInt(time % 60))
                    });
                },
                playMusic(row) {
                    let self = this;
                    self.music.name = row.name;
                    self.music.url = row.url;
                    self.music.currentTime = 0;
                    self.music.maxTime = row.duration;
                    self.music.isPlay = false;
                    self.play();
                }
            }
        })
    </script>

{% endblock %}
