django==1.11.0
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
django-rest-swagger==2.1.2
MySQL-python==1.2.5
celery==4.1.1
flower==0.9.2
rsa==3.4.2
oss2==2.4.0
markdown==2.6.9
raven==6.4.0
django-redis==4.9.0
beautifulsoup4==4.6.0
django_mama_cas==2.3.0
django-crontab==0.7.1