{% load static %}
<script type='text/javascript' src='{% static "js/jquery.easing.1.3.js" %}'></script>
<script type='text/javascript' src='{% static "js/prettyphoto/jquery.prettyPhoto.js" %}'></script>
<script type='text/javascript' src='{% static "js/jflickrfeed.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.liveSearch.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.form.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery.validate.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/custom.js" %}'></script>