{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<style>
.comic-body {
    width: 1070px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;"
}
</style>

{% verbatim %}
<div id="app" class="comic-body">
    <el-row :gutter="24">
        <el-col :span="6">
            <div style="margin-top: 15px;">
                <el-input placeholder="请输入内容" v-model="search" class="input-with-select">
                    <el-option label="餐厅名" value="1"></el-option>
                    <el-option label="订单号"
                               value="2"></el-option>
                           <el-option label="用户电话"
                                      value="3"></el-option>
                </el-select>
                <el-button
                                      slot="append"
                                      icon="el-icon-search"></el-button>
        </el-input>
            </div>
    </el-col>
    </el-row>
    <el-row :gutter="24">
        <el-col :span="6">
            <el-card class="box-card" :body-style="{ padding: '5px' }" :style="{ margin: '15px 0 15px 0' }">
                <div slot="header" class="clearfix">
                    <span>分类</span>
                </div>
                <el-tag :style="{ margin: '5px' }" size="small" v-for="category
                    in categorys" :key="category">{{category}}</el-tag>
            </el-card>
            <el-card class="box-card" :body-style="{ padding: '5px' }" :style="{ margin: '15px 0 15px 0' }">
                <div slot="header" class="clearfix">
                    <span>标签</span>
                </div>
                <el-tag :style="{ margin: '5px' }" size="small" v-for="tag in
                tags" :key="tag">{{tag}}</el-tag>
            </el-card>
        </el-col>
        <el-col :span="18">
            <el-card :style="{ margin: '15px 0 15px 0' }" shadow="hover"
                v-for="article in articles" :key="article.id">
                <div>
                    <h3><a
                v-bind:href="'/blog/' + article.id + '/'">{{article.title}}</a></h3>
                    <p>作者：{{article.author_name}} 浏览 {{article.pv}} 更新时间：{{article.upt}} </p>
                </div>
            </el-card>
            <div class="block">
                <el-pagination
                    background
                    @current-change="fetchArticles"
                    :current-page.sync="pager.page"
                    :page-size="20"
                    layout="total, prev, pager, next"
                    :total="pager.total">
                 >
                </el-pagination>
            </div>
        </el-col>
    </el-row>
</div>
{% endverbatim %}
<script>
new Vue({
    el: '#app',
    data: function () {
        return {
            search: '',
            visible: false,
            articles: [],
            tags: [],
            categorys: [],
            pager: {
                total: 0,
                page: 1
            }
        }
    },
    created: function () {
        this.fetchTags();
        this.fetchCategorys();
        this.fetchArticles();
    },
    methods:{
        fetchArticles: function (page) {
            var _self = this;
            if (page == undefined) {
                page = _self.pager.page;
            }
            var queryStr = '?page={page}'.format({ page: page });
            _self.$http.get('/api/articles' + queryStr).then(function (res) {
                _self.articles = res.data.results;
                _self.pager.total= res.data.count;
                _self.pager.page = page;
            }, function () {
                console.log('请求失败处理');
            });
        },
        fetchTags: function () {
            var _self = this;
            //发送get请求
            _self.$http.get('{% url "blog:tags" %}').then(function (res) {
                _self.tags = res.data.data;
            }, function () {
                console.log('请求失败处理');
            });
        },
        fetchCategorys: function () {
            var _self = this;
            //发送get请求
            this.$http.get('{% url "blog:categorys" %}').then(function (res) {
                _self.categorys = res.data.data;
            }, function () {
                console.log('请求失败处理');
            });
        }

    }
})
</script>
{% endblock %}
