{% extends 'common/base.html' %}
{% load static %}
{% block content %}

    <style>
        .note-list {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .note-list li.have-img {
            min-height: 140px;
        }

        .note-list li {
            position: relative;
            width: 100%;
            margin: 0 0 15px;
            padding-right: 2px;
            border-bottom: 1px solid #f0f0f0;
            word-wrap: break-word;
        }

        .note-list .have-img>div {
            padding-right: 140px;
        }

        .title {
            font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        }

        .note-list .have-img .wrap-img {
            position: absolute;
            top: 50%;
            margin-top: -60px;
            right: 0;
            width: 125px;
            height: 100px;
        }

        .note-list .title {
            margin: -7px 0 4px;
            display: inherit;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
        }

        img {
            vertical-align: middle;
        }

        div {
            display: block;
        }

        li {
            line-height: 20px;
            display: list-item;
            text-align: -webkit-match-parent;
        }
    </style>
    <!-- Start of Page Container -->
    </nav>
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <aside class="span8 page-sidebar">
                    <ul class="note-list" id="list_content">
                        <li id="note-28491853" data-note-id="28491853" class="have-img">
{#                            <a class="wrap-img" href="/p/3b4b5ac2ea68" target="_blank">#}
{#                              <img class="  img-blur-done" src="//upload-images.jianshu.io/upload_images/3343569-4bcf991e16d299a1?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" alt="120">#}
{#                            </a>#}
                          <div class="content">
                            <a class="title" target="_blank" href="/p/3b4b5ac2ea68">山城重庆 | 桥上之城的都市风光</a>
                            <p class="abstract">
                              随处可见的长江大桥 全国的城市里，只有重庆的长江大桥最多，建好的有36座。重庆是个两江环绕的山城，桥担负着行车、行人、行轻轨的重担。 长江上总共...
                            </p>
                            <div class="meta">
                              <a class="nickname" target="_blank" href="/u/b3b2c03354f3">吴晓布</a>
                                <a target="_blank" href="/p/3b4b5ac2ea68#comments">
                                  <i class="iconfont ic-list-comments"></i> 34
                        </a>      <span><i class="iconfont ic-list-like"></i> 37</span>
                                <span><i class="iconfont ic-list-money"></i> 2</span>
                            </div>
                          </div>
                        </li>
                    </ul>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                          <li>
                            <a href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li><a href="#" class="active">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li>
                            <a href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </aside>
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        当前搜索：<span id="search">全部</span>&nbsp;&nbsp;<a href="javascript:resetSearch()">重置</a>
                    </section>
                    <section class="widget">
                        <h3 class="title">分类</h3>
                        <div class="tagcloud" id="category-links">
                            <a href="#" class="btn btn-mini">basic</a>
                        </div>
                    </section>
                    <section class="widget">
                        <h3 class="title">标签</h3>
                        <div class="tagcloud" id="tag-links">
                            <a href="#" class="btn btn-mini">basic</a>
                        </div>
                    </section>
{#                    <section class="widget">#}
{#                        <div class="quick-links-widget">#}
{#                            <h3 class="title">热门文章</h3>#}
{#                            <ul id="menu-quick-links" class="menu clearfix">#}
{#                                <li><a href="index-2.html">Home</a></li>#}
{#                                <li><a href="articles-list.html">Articles List</a></li>#}
{#                                <li><a href="faq.html">FAQs</a></li>#}
{#                                <li><a href="contact.html">Contact</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </section>#}
{#                    <section class="widget">#}
{#                        <div class="quick-links-widget">#}
{#                            <h3 class="title">最近发布</h3>#}
{#                            <ul id="menu-quick-links" class="menu clearfix">#}
{#                                <li><a href="index-2.html">Home</a></li>#}
{#                                <li><a href="articles-list.html">Articles List</a></li>#}
{#                                <li><a href="faq.html">FAQs</a></li>#}
{#                                <li><a href="contact.html">Contact</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </section>#}
                </aside>
            </div>
        </div>
    </div>
    <!-- End of Page Container -->

    <script src="{% static 'js/jquery.tmpl.js' %}"></script>
    <script id="blogTmpl" type="text/x-jquery-tmpl">
        <li id="note-28491853" data-note-id="28491853" class="have-img">
{#            <a class="wrap-img" href="/p/3b4b5ac2ea68" target="_blank">#}
{#              <img class="  img-blur-done" src="//upload-images.jianshu.io/upload_images/3343569-4bcf991e16d299a1?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" alt="120">#}
{#            </a>#}
          <div class="content">
            <a class="title" href="/blog/${id}/">${title}</a>
            <p class="abstract">${content}</p>
            <div class="meta">
                <p>作者：${author_name} 浏览 ${pv} 最新修改：${upt} </p>
            </div>
          </div>
        </li>
    </script>
    <script id="categoryTmpl" type="text/x-jquery-tmpl">
        <a href="javascript:selTag(this, 'search=${$data}')" class="btn btn-mini">${$data}</a>
        {#<li><a href="javascript:fetchList('?search=${$data}')">${$data}</a></li>#}
    </script>
    <script id="tagTmpl" type="text/x-jquery-tmpl">
        <a onclick="selTag(this, 'search=${$data}')" class="btn btn-mini">${$data}</a>
{#        <li><a href="javascript:fetchList('?search=${$data}')">${$data}</a></li>#}
    </script>
    <script>
        var page = 1;
        var size = 10;

        $('.pagination li a').on('click', function(e) {
            $('.pagination li a').removeClass('active');
            $(e.target).addClass('active');
            page = Number(e.target.text);
            fetchList();
        });

        function renderList(blogs) {
            $("#list_content").empty();
            $("#blogTmpl").tmpl(blogs).appendTo("#list_content");
        }

        function fetchList(queryString) {
            queryString = queryString ? queryString : '';
            var pagerString = '?page={page}&size={size}'.format({page: page, size: size});
            if(queryString) {
                $('#search').html(queryString);
            }
            $.ajax({
                url: '/api/articles' + pagerString + '&' + queryString,
                type: 'GET',
                success: function (res) {
                    renderList(res.results);
                    //if (res.code === 0) {
                    //    renderList(res.data);
                    //} else {
                    //    console.log('获取失败');
                    //}
                }
            });
        }

        function selTag(ele, queryString) {
            // 清除其他选中，并设置当前选中
            $('#tag-links>a').removeClass('active');
            if(queryString != $('#search').html()) {
                $(ele).addClass('active');
            } else {
                queryString = '';
                $('#search').html('全部');
            }
            fetchList(queryString)
        }

        function resetSearch() {
            $('#search').html('全部');
            fetchList();
        }
        function renderCategorys() {
            $.ajax({
                url: '{% url "blog_categorys" %}',
                type: 'GET',
                success: function (res) {
                    if (res.code === 0) {
                        $("#category-links").empty();
                        $("#categoryTmpl").tmpl(res.data).appendTo("#category-links");
                    } else {
                        console.log('获取失败');
                    }
                }
            });
        }

        function renderTags() {
            $.ajax({
                url: '{% url "blog_tags" %}',
                type: 'GET',
                success: function (res) {
                    if (res.code === 0) {
                        $("#tag-links").empty();
                        $("#tagTmpl").tmpl(res.data).appendTo("#tag-links");
                    } else {
                        console.log('获取失败');
                    }
                }
            });
        }


        function init() {
            renderCategorys();
            renderTags();
            fetchList();
        }

        init();

    </script>
{% endblock %}
