{% extends 'common/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="col-md-12">
            <h1 class="margin-bottom-15">站长登录</h1>
            <form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="#" method="post">
                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="control-wrapper">
                        <label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
                        <input type="text" class="form-control" id="username" placeholder="Username" required="required" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="control-wrapper">
                        <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
                        <input type="password" class="form-control" id="password" placeholder="Password" required="required" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="control-wrapper">
                        <input type="button" id="btn_login" value="登录" class="btn btn-info">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Login with: </label>
                        <div class="inline-block">
                            <a href="{% url "social:begin" "facebook" %}"><i class="fa fa-facebook login-with"></i></a>
                            <a href="{% url "social:begin" "twitter" %}"><i class="fa fa-twitter login-with"></i></a>
                            <a href="{% url "social:begin" "google-oauth2" %}"><i class="fa fa-google-plus login-with"></i></a>
                            <a href="{% url "social:begin" "github" %}"><i class="fa fa-github login-with"></i></a>
                            <a href="{% url "social:begin" "weixin" %}"><i class="fa fa-wechat login-with"></i></a>
                            <a href="{% url "social:begin" "weibo" %}"><i class="fa fa-weibo login-with"></i></a>
                            <a href="{% url "social:begin" "qq" %}"><i class="fa fa-qq login-with"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $('#btn_login').on('click', function () {
            var req_data = new FormData();
            $.ajax({
                url: '/login',
                type: 'POST',
                data: JSON.stringify({
                    "username": $('#username').val(),
                    "password": $('#password').val()
                }),
                success: function (res) {
                    if (res.code === 0) {
                        window.location.href = '/manage';
                    } else {
                        console.log('登录失败');
                    }
                }
            });
        });
    </script>
{% endblock %}
