{% extends 'common/base.html' %}
{% load static %}
{% block content %}

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">科技资讯</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                </aside>
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">项目管理</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                </aside>
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">恬静生活</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                </aside>
                <!-- end of sidebar -->
            </div>
            <div class="row">
                <div class="span4 page-content">
                    <div class="row seprator">
                        <section class="span4 articles-list">
                            <h3>工作台</h3>
                            <ul class="articles">
                                <li class="article-entry standard">
                                    <h4><a href="/manage/blogs">博客管理</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                                    <span class="like-count">66</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="/manage/oss">图床管理</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">15</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="/crawler/email_logs">垃圾邮件</a></h4>
                                    <span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">8</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="/manage/crawler">爬虫管理</a></h4>
                                    <span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">8</span>
                                </li>
                                <li class="article-entry image">
                                    <h4><a href="single.html">WordPress in Your Language</a></h4>
                                    <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                                    <span class="like-count">6</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Know Your Sources</a></h4>
                                    <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">2</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Validating a Website</a></h4>
                                    <span class="article-meta">21 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">3</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>

                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">Support</h3>
                            <video src="//yc.stu.126.net/res/swf/moocPlayer.swf?27b1dac12a2c38f8896c2addd03f00ed"></video>
                        </div>
                    </section>
                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="articles-list.html">Articles List</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="widget">
                        <h3 class="title">Tags</h3>
                        <div class="tagcloud">
                            <a href="#" class="btn btn-mini">basic</a>
                            <a href="#" class="btn btn-mini">beginner</a>
                            <a href="#" class="btn btn-mini">blogging</a>
                            <a href="#" class="btn btn-mini">colour</a>
                            <a href="#" class="btn btn-mini">css</a>
                            <a href="#" class="btn btn-mini">date</a>
                            <a href="#" class="btn btn-mini">design</a>
                            <a href="#" class="btn btn-mini">files</a>
                            <a href="#" class="btn btn-mini">format</a>
                            <a href="#" class="btn btn-mini">header</a>
                            <a href="#" class="btn btn-mini">images</a>
                            <a href="#" class="btn btn-mini">plugins</a>
                            <a href="#" class="btn btn-mini">setting</a>
                            <a href="#" class="btn btn-mini">templates</a>
                            <a href="#" class="btn btn-mini">theme</a>
                            <a href="#" class="btn btn-mini">time</a>
                            <a href="#" class="btn btn-mini">videos</a>
                            <a href="#" class="btn btn-mini">website</a>
                            <a href="#" class="btn btn-mini">wordpress</a>
                        </div>
                    </section>
                </aside>
                <!-- end of sidebar -->

                <!-- start of page content -->
                <div class="span4 page-content">
                    <!-- Basic Home Page Template -->
                    <div class="row separator">
                        <section class="span4 articles-list">
                            <h3>常用站点</h3>
                            <ul class="articles">
                                <li class="article-entry standard">
                                    <h4><a href="https://aliyun.com/" target="_blank" >阿里云</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                                    <span class="like-count">66</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="https://tongji.baidu.com/" target="_blank" >百度统计</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                                    <span class="like-count">18</span>
                                </li>
                                <li class="article-entry image">
                                    <h4><a href="http://www.google.cn/intl/zh-CN_ALL/analytics/learn/index.html" target="_blank" >谷歌分析</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Designing in WordPress">Designing in WordPress</a></span>
                                    <span class="like-count">7</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="single.html">Using Video</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in WordPress Plugins">WordPress Plugins</a></span>
                                    <span class="like-count">7</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">WordPress Site Maintenance</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">15</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">WordPress CSS Information and Techniques</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Theme Development">Theme Development</a></span>
                                    <span class="like-count">1</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- end of page content -->
            </div>
        </div>
    </div>
    <!-- End of Page Container -->

{% endblock %}