{% extends 'common/base.html' %}
{% load static %}
{% block content %}

    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">我有什么可以帮到您?</h3>
            <p class="search-tag-line">如果你有想法、有资源，但缺少技术，或许我能帮得上忙！</p>
            <form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
                <input class="search-term required" type="text" id="s" name="s" placeholder="请输入你需要解决的问题" title="请输入你需要解决的问题!" />
                <input class="search-btn" type="submit" value="搜一下" />
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- End of Search Wrapper -->
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>

    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">科技资讯</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                </aside>
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">项目管理</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                </aside>
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">恬静生活</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                </aside>
                <!-- end of sidebar -->
            </div>
            <div class="row">
                <!-- start of page content -->
                <div class="span8 page-content">
                    <!-- Basic Home Page Template -->
                    <div class="row separator">
                        <section class="span4 articles-list">
                            <h3>Featured Articles</h3>
                            <ul class="articles">
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Integrating WordPress with Your Website</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                                    <span class="like-count">66</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">WordPress Site Maintenance</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">15</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="single.html">Meta Tags in WordPress</a></h4>
                                    <span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">8</span>
                                </li>
                                <li class="article-entry image">
                                    <h4><a href="single.html">WordPress in Your Language</a></h4>
                                    <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                                    <span class="like-count">6</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Know Your Sources</a></h4>
                                    <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">2</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Validating a Website</a></h4>
                                    <span class="article-meta">21 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">3</span>
                                </li>
                            </ul>
                        </section>
                        <section class="span4 articles-list">
                            <h3>Latest Articles</h3>
                            <ul class="articles">
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Integrating WordPress with Your Website</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                                    <span class="like-count">66</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">Using Javascript</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Advanced Techniques</a></span>
                                    <span class="like-count">18</span>
                                </li>
                                <li class="article-entry image">
                                    <h4><a href="single.html">Using Images</a></h4>
                                    <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Designing in WordPress">Designing in WordPress</a></span>
                                    <span class="like-count">7</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="single.html">Using Video</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in WordPress Plugins">WordPress Plugins</a></span>
                                    <span class="like-count">7</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">WordPress Site Maintenance</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                                    <span class="like-count">15</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">WordPress CSS Information and Techniques</a></h4>
                                    <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Theme Development">Theme Development</a></span>
                                    <span class="like-count">1</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- end of page content -->
                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">
                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">Support</h3>
                            <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                        </div>
                    </section>
                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">Quick Links</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="articles-list.html">Articles List</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </section>
                    <section class="widget">
                        <h3 class="title">Tags</h3>
                        <div class="tagcloud">
                            <a href="#" class="btn btn-mini">basic</a>
                            <a href="#" class="btn btn-mini">beginner</a>
                            <a href="#" class="btn btn-mini">blogging</a>
                            <a href="#" class="btn btn-mini">colour</a>
                            <a href="#" class="btn btn-mini">css</a>
                            <a href="#" class="btn btn-mini">date</a>
                            <a href="#" class="btn btn-mini">design</a>
                            <a href="#" class="btn btn-mini">files</a>
                            <a href="#" class="btn btn-mini">format</a>
                            <a href="#" class="btn btn-mini">header</a>
                            <a href="#" class="btn btn-mini">images</a>
                            <a href="#" class="btn btn-mini">plugins</a>
                            <a href="#" class="btn btn-mini">setting</a>
                            <a href="#" class="btn btn-mini">templates</a>
                            <a href="#" class="btn btn-mini">theme</a>
                            <a href="#" class="btn btn-mini">time</a>
                            <a href="#" class="btn btn-mini">videos</a>
                            <a href="#" class="btn btn-mini">website</a>
                            <a href="#" class="btn btn-mini">wordpress</a>
                        </div>
                    </section>
                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>
    <!-- End of Page Container -->

    <a href="#top" id="scroll-top"></a>

{% endblock %}
